body{
    
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
.head {
    display:flex;
    justify-content: space-between;
    background-color: #1e4172;
    align-items: center;
    padding: 10px;
    color:white;
    
}

.head .head-links {
    display: flex;
    gap: 2em;
}



.hero {
    display: flex;
    background-color: #1e4172;
    color: white;
    justify-content: space-between;
    gap: 14em;
    padding: 20px;
    align-items: flex-start;

}

.hero .left {
    flex-wrap: wrap;
    

}

.hero .right {
    background-color: gray;

}
.hero, .head {
    padding-right: 80px;
    padding-left: 80px;

}

button {
    font-size: 16px;
    padding: 6px;
    background-color: blue;
    color:white;
    

}

.company-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px;
    gap: 4em;
    

}
.tagline {
    font-size: 36px;
    font-weight:400

}
.info-square {
    display: flex;
    gap: 5em;
    
    
}

.square {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote {
    background-color: rgb(199, 198, 198);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif
    font-size: xx-large;


}

.quote .quote-author {
    font-family:'Times New Roman', Times, serif
}

.square img {
    height:150px;
    width: auto;
}

.sign-up {
    padding-top: 40px;
}